---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//$primary-color: #570F1A !default;
$primary-color: #252525 !default;
//$footer-background-color: #f9b248 !default;
$footer-background-color: #f58020 !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials